@page "/"
@inject NavigationManager navManager

<h1>home</h1>

<button onclick="@SecurePage">Secure page</button>

@code{
    private void SecurePage()
    {
        navManager.NavigateTo("/counter", true);
    }   
}